body{
background:#0f0f0f;
font-family:Arial;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:#1b1b1b;
padding:40px;
border-radius:10px;
width:400px;
text-align:center;
}

input,select{
width:100%;
padding:10px;
margin:10px 0;
border-radius:5px;
border:none;
}

button{
background:#00ff9d;
border:none;
padding:12px;
width:100%;
font-size:16px;
cursor:pointer;
}

button:hover{
background:#00cc7a;
}

.error{
color:red;
}